<%= form_for(@question) do |f| %>
<%= f.error_messages %>
  <p>
    <%= f.label :inquiry %><br />
    <%= f.text_field :inquiry %>
  </p>

  <p>
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </p>
  <%= f.submit %>
<% end %>
